body {
    background-color: #272727;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;

}

.main {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(82, 82, 82);
    margin: 10px;
    font-family: 'Roboto', sans-serif;
}

.btn {
    width: 100%;
    height: 50px;
    background-color: rgb(29, 29, 29);
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.anyButton {
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;

}

#getReward {
    background: rgb(16, 222, 181);
    color: rgb(47, 35, 35);
}

#wordGen {
    background: rgb(116, 190, 6);
    color: black;
}

label {
    color: white;
}

.noword {
    margin: 10px;
    height: 25px;
    border-radius: 4px;
    border: 2px solid rgb(42, 55, 23);
}

.doc {
    color: white;
    max-width: 80%;
}

.reset {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}